# Date and time variables in Pandas

23 March 2019

Despite using Pandas for a few years ago, I've never really understood how to probably handle date and time variables. This notebook summarises my understanding of this topic so far, mainly so I can refer back to it when I have forgotten how to properly use datetimes. Hopefully it is useful for others too.

References: http://strftime.org/

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline

## Intro

Let's start with some Pandas series that consist of strings with dates and times in different formats

In [2]:
dates1 = pd.Series(['3/5/1972', '24/5/1984', '1/11/1977'])
dates2 = pd.Series(['17 May 1982', '12 June 2016'])
dates3 = pd.Series(['23/5/1984 17:31:07'])
dates4 = pd.Series(['8 November 1948', '3/6/1983'])
dates5 = pd.Series(['12 Nov 1912', '8 July 1723', '3/7/1982', '12   May, 1932'])

Now we convert each of these to a Pandas datetime series using the to_datetime method. Note that this is a method in the Pandas module not the series. 

We have to specify the input along with the format that the datetime values are expressed in.

In [3]:
dates1_pd = pd.to_datetime(dates1, format="%d/%m/%Y")  # day, month, year
dates2_pd = pd.to_datetime(dates2, format="%d %B %Y")  # day, month name, year
# day, month year and hour, minute, seconds
dates3_pd = pd.to_datetime(dates3, format="%d/%m/%Y %H:%M:%S")
# infer the datetime format based on the structure of the input string
dates4_pd = pd.to_datetime(dates4, infer_datetime_format=True, dayfirst=True)
dates5_pd = pd.to_datetime(dates5, infer_datetime_format=True, dayfirst=True)

print(dates1_pd)
print(dates2_pd)
print(dates3_pd)
print(dates4_pd)
print(dates5_pd)

0   1972-05-03
1   1984-05-24
2   1977-11-01
dtype: datetime64[ns]
0   1982-05-17
1   2016-06-12
dtype: datetime64[ns]
0   1984-05-23 17:31:07
dtype: datetime64[ns]
0   1948-11-08
1   1983-06-03
dtype: datetime64[ns]
0   1912-11-12
1   1723-07-08
2   1982-07-03
3   1932-05-12
dtype: datetime64[ns]

## Creating datetime series using timestamps

Rather than writing a datetime as a string then converting it to a datetime type, we can create a series of datetime values directly using the Timestamp function. We can specifiy the year, month, day, hour, minute and second. 

Below we do this using keyword arguments.

In [4]:
dates6 = pd.Series([pd.Timestamp(year=1972, day=3, month=5), pd.Timestamp(year=1984, month=5, day=24), 
               pd.Timestamp(year=1977, month=11, day=1)])

Here we specify a datetime value another way, without used keyword arguments.

In [5]:
pd.Timestamp(1984, 5, 24, 9, 45, 21)

Timestamp('1984-05-24 09:45:21')

The <i>date_range</i> method allows us to create a series of datetime values between a start and end date with a specified frequency, e.g., days, months, hours etc. Below we create a series consisting of all days between the release of Ghostbusters and today's date.

In [6]:
date_range_egon = pd.date_range(start='11/15/1984', end='23/03/2019', freq='D')

In [7]:
date_range_egon

DatetimeIndex(['1984-11-15', '1984-11-16', '1984-11-17', '1984-11-18',
               '1984-11-19', '1984-11-20', '1984-11-21', '1984-11-22',
               '1984-11-23', '1984-11-24',
               ...
               '2019-03-14', '2019-03-15', '2019-03-16', '2019-03-17',
               '2019-03-18', '2019-03-19', '2019-03-20', '2019-03-21',
               '2019-03-22', '2019-03-23'],
              dtype='datetime64[ns]', length=12547, freq='D')

We can put this data into a data frame and then extract the day and month names. Note that the datetime index doesn't require us to use the <i>dt</i> accessor to extract this information that we use later on. Instead we use the <i>day_name()</i> and <i>month_name()</i> methods.

In [8]:
# convert to Pandas dataframe
df = pd.DataFrame(data={'Date': date_range_egon, 'Day': date_range_egon.day_name(), 
                        'Month': date_range_egon.month_name()})

We can set the index of the dataframe to the datetime value. This then allows us to slice the dataframe based on an interval of date values.

In [9]:
# set the index to datetime value
df = df.set_index('Date')

# slice the dataframe based on time period
df['1987-12-01':'1987-12-24']

                  Day     Month
Date
1987-12-01    Tuesday  December
1987-12-02  Wednesday  December
1987-12-03   Thursday  December
1987-12-04     Friday  December
1987-12-05   Saturday  December
1987-12-06     Sunday  December
1987-12-07     Monday  December
1987-12-08    Tuesday  December
1987-12-09  Wednesday  December
1987-12-10   Thursday  December
1987-12-11     Friday  December
1987-12-12   Saturday  December
1987-12-13     Sunday  December
1987-12-14     Monday  December
1987-12-15    Tuesday  December
1987-12-16  Wednesday  December
1987-12-17   Thursday  December
1987-12-18     Friday  December
1987-12-19   Saturday  December
1987-12-20     Sunday  December
1987-12-21     Monday  December
1987-12-22    Tuesday  December
1987-12-23  Wednesday  December
1987-12-24   Thursday  December

So which day of the week was Ghostbusters released on?

In [10]:
df['1984-11-15':'1984-11-15']

                 Day     Month
Date
1984-11-15  Thursday  November

## Using accessors to extract days, years and months

Once a field has been converted to a datetime series, we can extract the day, year, month etc using accessor methods. A more detailed explanation of accessors is available here: https://realpython.com/python-pandas-tricks/

In [11]:
# given a dataframe of datetime like values...
dt1 = pd.to_datetime(dates3, format="%d/%m/%Y %H:%M:%S")
# create a column for the year, day, month, hour etc

In [12]:
print(dt1)
print(dt1.dt.minute)
print(dt1.dt.hour)
print(dt1.dt.day)
print(dt1.dt.day_name())
print(dt1.dt.month)
print(dt1.dt.month_name())
print(dt1.dt.year)
print(dt1.dt.quarter)

0   1984-05-23 17:31:07
dtype: datetime64[ns]
0    31
dtype: int64
0    17
dtype: int64
0    23
dtype: int64
0    Wednesday
dtype: object
0    5
dtype: int64
0    May
dtype: object
0    1984
dtype: int64
0    2
dtype: int64

## Time differences

Given two timestamp objects, taking the difference returns a Timedelta object

In [14]:
# the number of days between when the date that Ghostbusters was released and today
time1 = pd.Timestamp(2019, 3, 23)
time2 = pd.Timestamp(1984, 11, 15)

# returns a Timedelta object
time_delta1 = (time1 - time2)

In [23]:
# how many days difference. Returns an integer
print(time_delta1.days)

# how many years difference?
print(time_delta1.days / 365)

12546
34.37260273972603

## Timezones, Unix time and UTC

Another topic that I have found very confusing is working with timezone variables.

UTC: Coordinated Universal Time

Unix time: the number of seconds that have elapsed since 00:00:00 Thursday 1 January 1970 UTC.

In [19]:
from pytz import all_timezones

dates3_pd

0   1984-05-23 17:31:07
dtype: datetime64[ns]

In [17]:
# list of timezones
all_timezones[350:360]

['Australia/Eucla',
 'Australia/Hobart',
 'Australia/LHI',
 'Australia/Lindeman',
 'Australia/Lord_Howe',
 'Australia/Melbourne',
 'Australia/NSW',
 'Australia/North',
 'Australia/Perth',
 'Australia/Queensland']

In [18]:
# convert from one timezone to another
dates3_pd.dt.tz_localize('Europe/London').dt.tz_convert('Australia/Melbourne')

0   1984-05-24 02:31:07+10:00
dtype: datetime64[ns, Australia/Melbourne]